.active div {
    background-color: #eee;
}

.container {
    margin: auto;
    width: fit-content;
    padding: 10px;
  }

  .spinner{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}